div(class="table-responsive")
	table(class="table table-striped mb-0")
		thead
			tr
				//th
				th(class="data-header") Height
				th(class="data-header") Timestamp (utc)
				th(class="data-header text-right") Age
				th(class="data-header") Miner
				th(class="data-header text-right") Transactions
				th(class="data-header text-right") Average Fee
				th(class="data-header text-right") Size (bytes)

				if (blocks && blocks.length > 0 && blocks[0].weight)
					th(class="data-header text-right") Weight (wu)
		tbody
			each block, blockIndex in blocks
				if (block)
					tr
						td(class="data-cell monospace")
							a(href=("/block-height/" + block.height)) #{block.height.toLocaleString()}

							if (global.specialBlocks && global.specialBlocks[block.hash])
								span  
								a(data-toggle="tooltip", title=(coinConfig.name + " Fun! See block for details"))
									i(class="fas fa-certificate text-primary")
						td(class="data-cell monospace") #{moment.utc(new Date(parseInt(block.time) * 1000)).format("Y-MM-DD HH:mm:ss")}

						- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(block.time) * 1000))));
						td(class="data-cell monospace text-right") #{timeAgo.format()}
						td(class="data-cell monospace")
							if (block.miner && block.miner.name)
								span(data-toggle="tooltip", title=("Identified by: " + block.miner.identifiedBy), class="rounded bg-primary text-light px-2 py-1") #{block.miner.name}
							else
								span ?

						
						td(class="data-cell monospace text-right") #{block.tx.length.toLocaleString()}

						td(class="data-cell monospace text-right")
							- var currencyValue = new Decimal(block.totalFees).dividedBy(block.tx.length);
							include ./value-display.pug
							
						td(class="data-cell monospace text-right") #{block.size.toLocaleString()}

						if (blocks && blocks.length > 0 && blocks[0].weight)
							td(class="data-cell monospace text-right")
								span #{block.weight.toLocaleString()} 

								- var radialProgressBarPercent = new Decimal(100 * block.weight / coinConfig.maxBlockWeight).toDecimalPlaces(2);
								include ./radial-progress-bar.pug