div.table-responsive
	table.table.table-striped.mb-0
		thead
			tr
				//th
				th
				th.data-header.text-right Height
				th.data-header.text-right Date
					small  (utc)
				th.data-header.text-right Age
				th.data-header.text-right
					span.border-dotted(title="Time To Mine - The time it took to mine this block after the previous block. 'Fast' blocks (mined in < 5min) are shown in green; 'slow' blocks (mined in > 15min) are shown in red.", data-toggle="tooltip") T.T.M.
				th.data-header.text-right Miner
				th.data-header.text-right Transactions
				th.data-header.text-right Avg Fee
					small  (sat/vB)
				th.data-header.text-right Total Fees
				
				//th.data-header.text-right Size (kB)

				if (blocks && blocks.length > 0 && blocks[0].weight)
					th.data-header.text-right Weight
						small  (kWu)

				else
					th.data-header.text-right Size
						small  (kB)
		tbody

			each block, blockIndex in blocks
				if (block && ((sort == "desc" && blockIndex < blocks.length - 1) || (sort == "asc" && (block.height == 0 || blockIndex > 0))))
					tr
						td
							if (sort == "desc")
								small.text-muted #{(blockIndex + offset + 1).toLocaleString()}
							else
								small.text-muted #{(blockIndex + offset).toLocaleString()}

						td.data-cell.text-monospace.text-right
							if (global.specialBlocks && global.specialBlocks[block.hash])
								a(data-toggle="tooltip", title=(coinConfig.name + " Fun! See block for details"))
									i.fas.fa-certificate.text-primary.mr-1

							a(href=("/block-height/" + block.height)) #{block.height.toLocaleString()}
						

						- var timeAgoTime = moment.utc(new Date()).diff(moment.utc(new Date(parseInt(block.time) * 1000)));
						- var timeAgo = moment.duration(timeAgoTime);

						- var timeDiff = null;
						
						if (sort == "asc")
							if (blockIndex > 0)
								- var timeDiff = moment.duration(moment.utc(new Date(parseInt(block.time) * 1000)).diff(moment.utc(new Date(parseInt(blocks[blockIndex - 1].time) * 1000))));
						else
							if (blockIndex < blocks.length - 1)
								- var timeDiff = moment.duration(moment.utc(new Date(parseInt(block.time) * 1000)).diff(moment.utc(new Date(parseInt(blocks[blockIndex + 1].time) * 1000))));

						td.data-cell.text-monospace.text-right
							- var timestampHuman = block.time;
							include timestamp-human.pug
							

						td.data-cell.text-monospace.text-right
							if (sort != "asc" && blockIndex == 0 && offset == 0 && timeAgoTime > (15 * 60 * 1000))
								span.text-danger.border-dotted(title="It's been > 15 min since this latest block.", data-toggle="tooltip") #{utils.shortenTimeDiff(timeAgo.format())}
							else
								span #{utils.shortenTimeDiff(timeAgo.format())}

						td.data-cell.text-monospace.text-right
							if (timeDiff)
								- var colorClass = "text-muted";
								if (timeDiff < 300000)
									- var colorClass = "text-success";
								if (timeDiff > 900000)
									- var colorClass = "text-danger";

								span.font-weight-light(class=colorClass) #{utils.shortenTimeDiff(timeDiff.format())}

							else
								if (block.height == 0)
									small.border-dotted.text-muted(title="Not applicable: genesis block has no previous block to compare to.", data-toggle="tooltip") N/A (genesis)
								else
									span.font-weight-light.text-muted -
						
						td.data-cell.text-monospace.text-right
							if (block.miner && block.miner.name)
								small.rounded.bg-primary.text-white.px-2.py-1(data-toggle="tooltip", title=("Identified by: " + block.miner.identifiedBy)) #{utils.ellipsize(block.miner.name, 10)}
							else
								span ?

						
						td.data-cell.text-monospace.text-right #{block.tx.length.toLocaleString()}

						td.data-cell.text-monospace.text-right
							- var currencyValue = new Decimal(block.totalFees).dividedBy(block.strippedsize).times(coinConfig.baseCurrencyUnit.multiplier).toDecimalPlaces(1);
							span #{currencyValue}
							
							// idea: show typical tx fee, maybe also optimized fee if not segwit
							if (false)
								- var feeEstimateVal = currencyValue.times(166).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
								span.border-dotted(title=`Value: ${feeEstimateVal}`, data-toggle="tooltip") #{currencyValue}

						td.data-cell.text-monospace.text-right
							- var currencyValue = new Decimal(block.totalFees);
							- var currencyValueDecimals = 3;
							include ./value-display.pug

							
						
						if (false)
							td.data-cell.text-monospace.text-right
								- var bSizeK = parseInt(block.size / 1000);
								span #{bSizeK.toLocaleString()}

						if (blocks && blocks.length > 0 && blocks[0].weight)
							td.data-cell.text-monospace.text-right
								- var bWeightK = parseInt(block.weight / 1000);
								- var fullPercent = new Decimal(100 * block.weight / coinConfig.maxBlockWeight).toDecimalPlaces(1);

								span #{bWeightK.toLocaleString()} 
								small.font-weight-light.text-muted (#{fullPercent}%)

								- var bSizeK = parseInt(block.size / 1000);
								span.ml-1(data-toggle="tooltip", title=`Size: ${bSizeK.toLocaleString()} kB`)
									i.fas.fa-ellipsis-h.text-muted

								div(class="progress", style="height: 4px;")
									div(class="progress-bar", role="progressbar", style=("width: " + fullPercent + "%;"), aria-valuenow=parseInt(100 * block.weight / coinConfig.maxBlockWeight), aria-valuemin="0" ,aria-valuemax="100")

						else
							td.data-cell.text-monospace.text-right
								- var bSizeK = parseInt(block.size / 1000);
								- var fullPercent = new Decimal(100 * block.size / coinConfig.maxBlockSize).toDecimalPlaces(1);

								span #{bSizeK.toLocaleString()} 
								small.font-weight-light.text-muted (#{fullPercent}%)

								div(class="progress", style="height: 4px;")
									div(class="progress-bar", role="progressbar", style=("width: " + fullPercent + "%;"), aria-valuenow=parseInt(100 * block.size / coinConfig.maxBlockSize), aria-valuemin="0" ,aria-valuemax="100")

					- var lastBlock = block;