#exampleModalCenter.modal.fade.mt-5(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				h5#exampleModalCenterTitle.modal-title Support Project
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;
			.modal-body
				h6.mb-3 If you get value from this project, please consider supporting my work with a donation.

				h6.mb-3 Thanks

				if (config.donations.btcpayserver)
					if (config.donations.btcpayserver.host)
						div
							a.btn.btn-primary(href=config.donations.btcpayserver.host) Donate
					
					if (false)
						h6
							span.mr-2 Donate (via BTCPay)
						- var amounts = [1, 5, 10, 25, 100];
						- var icons = [ "thumbs-up", "beer", "hamburger", "utensils", "grin-hearts" ];
						div.mb-2
							each amount, amtIndex in amounts
								form(method="POST" action=(config.donations.btcpayserver.host + "/api/v1/invoices"), style="display: inline;")
									input(type='hidden' name='storeId' value=config.donations.btcpayserver.storeId)
									input(type='hidden' name='price' value=amount)
									input(type='hidden' name='currency' value='USD')
									input(type='hidden' name='notifyEmail' value=config.donations.btcpayserver.notifyEmail)

									button.btn.btn-primary.btn-lg.mr-2.mb-2(type='submit')
										i(class=("fas mr-2 fa-" + icons[amtIndex]))
										span $#{amount.toLocaleString()}

							form(method="POST" action=(config.donations.btcpayserver.host + "/api/v1/invoices"), style="display: inline;")
								input(type='hidden' name='storeId' value=config.donations.btcpayserver.storeId)
								input(type='hidden' name='price' value="0.00000001")
								input(type='hidden' name='currency' value='BTC')
								input(type='hidden' name='notifyEmail' value=config.donations.btcpayserver.notifyEmail)

								button.btn.btn-primary.btn-lg.mr-2.mb-2(type='submit')
									i.fas.mr-2.fa-bolt
									span 1 satoshi

					script.
						function showDonateByAddress(link) {
							var donateByAddressDiv = document.getElementById("donate-by-address");
							donateByAddressDiv.classList.remove("d-none");
							link.classList.add("d-none");
						}

				if (false)
					div.mt-4(id="donate-by-address")
						h6 Donate by address

						div.mb-3
							each coin, index in config.donations.addresses.coins
								div.text-monospace
									if (coinConfig.ticker == coin)
										span #{config.donations.addresses[coin].address}
									else
										span #{coin}: 
										a.text-wrap(href=(config.donations.addresses.sites[coin] + "/address/" + config.donations.addresses[coin].address)) #{config.donations.addresses[coin].address}

						each coin, index in config.donations.addresses.coins
							div.text-center.mb-3.word-wrap.text-monospace(style="display: inline-block; max-width: 150px;", class=(index > 0 ? "ml-md-3" : false))
								img(src=donationAddressQrCodeUrls[coin], alt=config.donations.addresses[coin].address, style="border: solid 1px #ccc;")


