+graphPageScriptSetup

canvas.mb-3(id=graphData.id)

script.
	Chart.defaults.global.elements.point.radius = 1;
	var ctx = document.getElementById("#{graphData.id}").getContext('2d');
	var graph = new Chart(ctx, {
		type: 'line',
		labels: [#{graphData.labels}],
		data: {
			datasets: [{
				borderColor: '#007bff',
				borderWidth: 2,
				backgroundColor: 'rgba(0,0,0,0)',
				data: #{graphData.dataVar},
			}]
		},
		options: {
			animation:{
				duration:0
			},
			title: {
				display: false,
				text: '#{graphData.title}'
			},
			legend: {
				display: false
			},
			scales: {
				xAxes: [{
					type: 'linear',
					position: 'bottom',
					scaleLabel: {
						display: true,
						labelString: '#{graphData.xaxisTitle}'
					},
					gridLines: {
						color: gridLineColor
					},
					ticks: {
						stepSize: #{graphData.xaxisStep},
						/*callback: function(value, index, values) {
							if (value > 1000000) {
								return (value / 1000000).toLocaleString() + "M";

							} else if (value > 1000) {
								return (value / 1000).toLocaleString() + "k";

							} else {
								return value;
							}
						}*/
					}
				}],
				yAxes: [{
					scaleLabel: {
						display: true,
						labelString: '#{graphData.yaxisTitle}'
					},
					gridLines: {
						color: gridLineColor
					},
					ticks: {
						callback: function(value, index, values) {
							if (value > 1000000) {
								return (value / 1000000).toLocaleString() + "M";

							} else {
								return value;
							}
						}
					}
				}]
			}
		}
	});
