if (false)
	div.card.mb-3.shadow-sm
		div.card-header
			h2.h6.mb-0 Tools
		div.card-body
			div.row
				each item, index in [[0, 1, 2], [4, 3, 5], [6, 7, 8]]
					div.col-md-4
						ul.ps-0(style="list-style-type: none;")
							each toolIndex, toolIndexIndex in item
								- var siteTool = config.siteTools[toolIndex];

								li
									div.float-start(style="height: 50px; width: 40px; margin-right: 10px;")
										span
											i.fa-2x.me-2(class=siteTool.fontawesome, style="margin-top: 6px;")

									a(href=siteTool.url) #{siteTool.name}
									br
									p #{siteTool.desc}

if (false)
	div.row
		each list, listIndex in [[0, 1], [2, 3], [4, 9], [5, 6], [7, 8]]
			div.col
				ul.list-unstyled
					each listItem in list
						- var siteTool = config.siteTools[listItem];
						li.mb-2
							span(title=siteTool.desc, data-bs-toggle="tooltip")
								i.me-2.fa-lg(class=siteTool.fontawesome, style="width: 30px;")
							a(href=siteTool.url)
								span #{siteTool.name}

if (false)
	div.row
		each list, listIndex in [[0, 1, 2, 3, 4], [9, 5, 6, 7, 8]]
			div.col
				ul.list-unstyled
					each listItem in list
						- var siteTool = config.siteTools[listItem];
						li.mb-2
							span(title=siteTool.desc, data-bs-toggle="tooltip")
								i.me-2.fa-sm(class=siteTool.fontawesome, style="width: 30px;")
							a(href=siteTool.url)
								span #{siteTool.name}

if (true)
	div
		- var priorityList = config.site.prioritizedToolIdsList;
		- var indexLists2Col = utils.splitArrayIntoChunksByChunkCount(priorityList, 2);
		- var indexLists3Col = utils.splitArrayIntoChunksByChunkCount(priorityList, 3);
		- var indexLists4Col = utils.splitArrayIntoChunksByChunkCount(priorityList, 4);
		- var indexLists5Col = utils.splitArrayIntoChunksByChunkCount(priorityList, 5);

		// xs, sm, xxl
		div.d-block.d-md-none.d-xxl-block(id="tools-2-col")
			div.row
				each indexList in indexLists2Col
					div.col
						ul.list-unstyled.mb-0
							each toolsItemIndex in indexList
								include tools-card-block.pug

		// md
		div.d-none.d-md-block.d-lg-none(id="tools-3-col")
			div.row
				each indexList in indexLists3Col
					div.col
						ul.list-unstyled.mb-0
							each toolsItemIndex in indexList
								include tools-card-block.pug

		// lg
		div.d-none.d-lg-block.d-xl-none(id="tools-4-col")
			div.row
				each indexList in indexLists4Col
					div.col
						ul.list-unstyled.mb-0
							each toolsItemIndex in indexList
								include tools-card-block.pug

		// xl
		div.d-none.d-xl-block.d-xxl-none(id="tools-5-col")
			div.row
				each indexList in indexLists5Col
					div.col
						ul.list-unstyled.mb-0
							each toolsItemIndex in indexList
								include tools-card-block.pug

		