- var currencyFormatInfo = utils.getCurrencyFormatInfo(currencyFormatType);

if (currencyValue > 0)
	if (currencyValueDecimals)
		- var parts = utils.formatCurrencyAmountWithForcedDecimalPlaces(currencyValue, currencyFormatType, currencyValueDecimals);
	else
		- var parts = utils.formatCurrencyAmount(currencyValue, currencyFormatType);

	//span #{JSON.stringify(currencyFormatInfo)}
	span.text-monospace #{parts.val}#{(currencyValueDecimals && currencyFormatInfo.type == "native" && currencyFormatInfo.multiplier <= 1000) ? "…" : ""}
	if (parts.lessSignificantDigits)
		span.text-monospace.text-small(style="margin-left: 2px;") #{parts.lessSignificantDigits}

	if (currencyFormatInfo.type == "native")
		if (exchangeRates)
			small.border-dotted.ml-1(data-toggle="tooltip", title=utils.formatExchangedCurrency(currencyValue, "usd")) #{parts.currencyUnit}
				
		else
			small.ml-1 #{parts.currencyUnit}
				
	else if (currencyFormatInfo.type == "exchanged")
		small.border-dotted.ml-1(data-toggle="tooltip", title=utils.formatCurrencyAmount(currencyValue, coinConfig.defaultCurrencyUnit.name)) #{parts.currencyUnit}
			
else
	span.text-monospace 0