extends layout

block headContent
	title About

block content
	h1(class="h3") About
	hr

	p This tool is intended to be a simple, self-hosted explorer for the #{coinConfig.name} blockchain, driven by RPC calls to your Bitcoin SV node. This tool is easy to run but lacks some features compared to database-backed explorers.

	p Special thanks to @janoside, @OmisNomis and @waqas64 
		a(href="https://github.com/waqas64/btc-rpc-explorer") github.com/waqas64/btc-rpc-explorer

	//- if (config.donationAddresses)
	//- 	hr

	//- 	p If you value this tool and want to support my work on this project, please consider a small donation. Anything is appreciated!

	//- 	each coin, index in config.donationAddresses.coins
	//- 		div(style="display: inline-block;", class="text-md-center mb-3", class=(index > 0 ? "ml-md-5" : false))
	//- 			if (config.donationAddresses[coin].urlPrefix)
	//- 				a(href=(config.donationAddresses[coin].urlPrefix + config.donationAddresses[coin].address)) #{coinConfigs[coin].name} (#{coin})
	//- 			else
	//- 				span #{coinConfigs[coin].name} (#{coin})

	//- 			br
	//- 			span #{config.donationAddresses[coin].address}
	//- 			br
	//- 			img(src=donationAddressQrCodeUrls[coin], alt=config.donationAddresses[coin].address, style="border: solid 1px #ccc;")
	//- 			br
		