extends layout

block headContent
	title API Docs

block content
	+pageTitle("API Docs")
	div.fs-4.mt-n3.mb-3 Current Version:
		a.ms-2(href="./api/version", title="View version API call: /api/version", data-bs-toggle="tooltip", target="_blank") v#{apiDocs.version}
		small.ms-2 (
			a(href="./api/changelog") changelog
			| )

	if (false)
		pre
			code.json #{JSON.stringify(categories, null, 4)}


	+dismissableInfoAlert("apiDocsNoteDismissed", "About the API...")
		h6.mb-2 About the API

		| The API documented below is made available by btc-rpc-explorer. The actions are organized by category. From this documentation you can directly click on an action's link to see the output format in your browser.


	each cat, catIndex in categories
		h3.h5.mb-1.fw-light.text-capitalize #{cat.name}
		+contentSection
			each item, itemIndex in cat.items
				if (itemIndex > 0)
					hr

				.row.p-2
					.col-md-3
						small.me-2 GET
						a(href=(item.testUrl ? `.${item.testUrl}` : `.${item.url}`), target="_blank") #{item.url}

					.col-md-1
						span(title=`Return type: ${item.returnType}`, data-bs-toggle="tooltip")
							+lightBadge(item.returnType)

					.col-md-8
						
						| #{item.desc}

						if (false && item.example)
							.mt-3
								span.text-muted Example output:
								pre
									code.json #{JSON.stringify(item.example)}
