extends layout

block headContent
	title Block #{blockHash}

block content
	ol(class="breadcrumb")
		li(class="breadcrumb-item")
			a(href="/")
				strong #{host}
				span :#{port}
		li(class="breadcrumb-item active")
			a(href=("/block/" + blockHash)) Block #{result.getblock.height}

	h1 Block 
		small(style="width: 100%;") ##{result.getblock.height}
	hr

	include includes/block-content.pug