extends layout

block content
	ol(class="breadcrumb")
		li(class="breadcrumb-item")
			a(href="/")
				strong #{host}
				span :#{port}
		li(class="breadcrumb-item active") Error

	h1 Error
	hr

	if (message)
		p !{message}
	else
		p Unknown error

	if (error)
		h2 #{error.status}
		pre #{error.stack}
