extends layout

block headContent
	title Home
	
block content
	h1(class="h2") #{coinConfig.siteTitle}
	hr

	p(class="lead")
		strong #{coinConfig.siteTitle}
		span  is 
		a(href="https://github.com/janoside/btc-rpc-explorer") open-source
		span . If you run your own 
		a(href=coinConfig.nodeUrl) #{coinConfig.name} Full Node
		span ,
		strong  #{coinConfig.siteTitle}
		span  can easily run alongside it, communicating via RPC calls. See the 
		a(href="https://github.com/janoside/btc-rpc-explorer") project description
		span  for a list of features and instructions for running.

	
	if (latestBlocks)
		div(class="row mt-5")
			div(class="col")
				h2(class="h3") Latest Blocks
					if (getblockchaininfo.initialblockdownload)
						small  (#{(getblockchaininfo.headers - getblockchaininfo.blocks).toLocaleString()} behind)

			div(class="col")
				span(style="float: right;")
					a(href="/blocks", class="btn btn-primary") Browse Blocks &raquo;

		hr

		- var blocks = latestBlocks;
		- var blockOffset = 0;

		include includes/blocks-list.pug