extends layout

block headContent
	title Bitcoin Explorer
	
block content
	if (getblockchaininfo == null)
		div.alert.alert-danger
			h5.mb-3 Unable to get basic blockchain data
			ul
				li
					p
						b If you just started your node, it may still be initializing.
						div At startup, bitcoind verifies its block index before making itself available to serve data. The amount of time the verification process takes depends largely on the speed of the machine bitcoind is running on. If you're running bitcoind on low powered, inexpensive hardware, don't be surprised if this process takes a long time.
				li
					p
						b If you believe your bitcoind node is already initialized...
						div Check your RPC connection info and/or check this application's error log for possible hints about the cause of this issue.
	else

		+dismissableInfoAlert("homepageWelcomeBannerDismissed")
			.clearfix
				.float-start
					h4.fw-light.mb-2 Welcome to Bitcoin Explorer!
				.float-start
					if (config.demoSite)
						- var networkNameMap = {"main": "Mainnet", "test": "Testnet", "signet": "Signet"};
						span.badge.bg-primary.mb-1.ms-0.ms-md-3.mt-1(title=`This is a public demo, but this tool is designed to be installed and run by all Bitcoiners...<br/><i>Don't Trust, Verify</i>!`, data-bs-toggle="tooltip", data-bs-html="true")
							span.me-2 #{networkNameMap[global.activeBlockchain]} Demo
							i.fas.fa-sticky-note
			

			.mb-2 An easy-to-use, educational explorer whose <u>only dependency is your <b>Bitcoin Core</b> node</u>!
			.mb-3
				- var features = ["Open-Source", "Easy Setup", "Low Hardware Requirements", "Fun!"];

				each feature in features
					span.badge.bg-light.text-dark.border.me-2
						span.me-2 #{feature}
						i.fas.fa-check
			
			.mt-4.mb-2
				if (global.sourcecodeProjectMetadata)
					a.btn.btn-primary.mb-2.mb-md-1.me-3(href="https://github.com/janoside/btc-rpc-explorer", title="View source code on Github", data-bs-toggle="tooltip", data-bs-placement="bottom")
						i.fab.fa-github.fa-lg.me-2
						| View Source

				a.btn.btn-primary.mb-2.mb-md-1.me-3(href="https://donate.bitcoinexplorer.org", target="_blank", title="Support this project with a donation", data-bs-toggle="tooltip", data-bs-placement="bottom")
					i.fas.fa-heart.text-danger.fa-lg.me-2
					| Donate

				a.btn.btn-primary.mb-2.mb-md-1(href="https://twitter.com/BitcoinExplorer", target="_blank", title="Follow @BitcoinExplorer on Twitter", data-bs-toggle="tooltip", data-bs-placement="bottom")
					i.fab.fa-twitter.text-twitter.fa-lg.me-2
					| @BitcoinExplorer
					

				

		if (getblockchaininfo.initialblockdownload && !["regtest", "signet"].includes(global.activeBlockchain))
			div.alert.alert-warning.shadow-sm.border.mb-3
				div.fw-bold.mb-1 Initial Block Download (IBD) - In Progress...

				div.mb-1 Your node is currently downloading and verifying blockchain data. Until the process is finished, some features of this tool will be unusable and/or unreliable.

				span.fw-bold Progress: 
				span.font-monospace #{new Decimal(getblockchaininfo.verificationprogress).times(100).toDP(3)}%


		
		include includes/index-network-summary.pug
		
		
		
		if (nextBlockTemplate)
			if (false)
				pre
					code.json #{JSON.stringify(nextBlockFeeRateGroups, null, 4)}

			.clearfix
				.float-start
					- var desc = "Prediction for the next block, based on the output of the getblocktemplate command";
					+sectionTitle("Predicted Next Block", false, null, null, null, desc)

				.float-start
					a.ms-2(href="./mining-template") See details
			
			+contentSection
				+summaryRow(3)
					+summaryItem("Transactions")
						| #{nextBlockTemplate.transactions.length.toLocaleString()}

					+summaryItem("Fee Rates", "Minimum and maximum fee rates for transactions that are predicted to be included in the next block.", "sat/vB")
						+numWithMutedDecimals(new Decimal(nextBlockMinFeeRate).toDP(2).toString())
						span.mx-2 -
						+numWithMutedDecimals(new Decimal(nextBlockMaxFeeRate).toDP(2).toString())

						
					+summaryItem("Total Fees", "Sum of fees for all transactions that are predicted to be included in the next block.")
						+valueDisplay(nextBlockTotalFees)

				if (false)
					.mt-4
						.text-center
							+summaryTitle("Fee Rate Breakdown")

						.progress.mt-2
							each group, groupIndex in nextBlockFeeRateGroups
								if (group.totalWeight > 0)
									- var intPercent = parseInt(100 * group.weightRatio);
									if (intPercent < 10)
										- intPercent = 10;
									- var color = `hsl(${(333 * (groupIndex / nextBlockFeeRateGroups.length))}, 100%, 35%)`;
									
									.progress-bar(role="progressbar", style=`width: ${intPercent}%; background-color: ${color};`, aria-valuenow=`${intPercent}`, aria-valuemin="0", aria-valuemax="100")
										| #{new Decimal(group.minFeeRate).toDP(1)}
						


		if (latestBlocks)
			+contentSection("Latest Blocks")
				- var blocks = latestBlocks;
				- var blockOffset = 0;
				- var hideBlockIndex = true;

				include includes/blocks-list.pug

				if (blocks.length % 2 == 1)
					hr
				else
					.mb-2

				.text-center.pt-1
					a.btn.btn-primary.btn-sm(href="./blocks")
						i.fas.fa-cubes.me-2
						| Browse Blocks &raquo;
							

		+contentSection("Tools")
			include includes/tools-card.pug
				

		
