doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no")
		
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css", integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4", crossorigin="anonymous")
		link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Cousine|Ubuntu:400,500,700")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css")
		link(rel='stylesheet', href='/css/styling.css')

		link(rel="icon", type="image/png", href=("/img/logo/" + env.coin.toLowerCase() + ".png"))

		block headContent
			title Explorer
		
	body
		nav(class="navbar navbar-expand-lg navbar-dark bg-dark mb-4")
			div(class="container")
				a(class="navbar-brand", href="/")
					span
						if (coinConfig.logoUrl)
							img(src=coinConfig.logoUrl, class="header-image")
						span #{coinConfig.siteTitle}
						
				button(type="button", class="navbar-toggler navbar-toggler-right", data-toggle="collapse", data-target="#navbarNav")
					span(class="navbar-toggler-icon")
					
				div(class="collapse navbar-collapse", id="navbarNav")
					if (client)
						ul(class="navbar-nav mr-auto")
							li(class="nav-item")
								a(href="/about", class="nav-link")
									span About

							if (env.headerDropdownLinks)
								li(class="nav-item dropdown")
									a(class="nav-link dropdown-toggle", href="javascript:void(0)", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
										span  #{env.headerDropdownLinks.title}
									div(class="dropdown-menu", aria-labelledby="navbarDropdown")
										each item in env.headerDropdownLinks.links
											a(class="dropdown-item", href=item.url)
												img(src=item.imgUrl, style="width: 24px; height: 24px; margin-right: 8px;")
												span  #{item.name}

							li(class="nav-item dropdown")
								a(class="nav-link dropdown-toggle", href="javascript:void(0)", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
									i(class="fas fa-cog")
									span  Settings
								div(class="dropdown-menu", aria-labelledby="navbarDropdown")
									if (coinConfig.currencyUnits)
										span(class="dropdown-header") Currency Units
										each item in coinConfig.currencyUnits
											a(class="dropdown-item", href=("/changeSetting?name=currencyFormatType&value=" + item.values[0]))
												each valueName in item.values
													if (currencyFormatType == valueName)
														i(class="fas fa-check")
												span  #{item.name}

						form(method="post", action="/search", class="form-inline")
							div(class="input-group input-group-sm")
								input(type="text", class="form-control form-control-sm", name="query", placeholder="block height/hash, txid, address", value=(query), style="width: 300px;")
								div(class="input-group-append")
									button(type="submit", class="btn btn-primary")
										i(class="fas fa-search")
										
		div(id="sub-menu", class="container mb-4", style="margin-top: -1.0rem;")
			ul(class="nav")
				li(class="nav-item")
					a(href="/node-status", class="nav-link") Node Status
				li(class="nav-item")
					a(href="/rpc-browser", class="nav-link") RPC Browser
				li(class="nav-item")
					a(href="/rpc-terminal", class="nav-link") RPC Terminal
				li(class="nav-item")
					a(href="/mempool-summary", class="nav-link") Mempool Summary
				if (coinConfig.historicalData && coinConfig.historicalData.length > 0)
					li(class="nav-item")
						a(href="/fun", class="nav-link") #{coinConfig.name} Fun

			hr
				
		div(class="container")
			if (userMessage)
				div(class="alert", class=(userMessageType ? ("alert-"  + userMessageType) : "alert-warning"), role="alert")
					span !{userMessage}
			
			block content

			div(style="margin-bottom: 30px;")

			footer(class="footer bg-dark text-light pt-3 pb-1 px-3", style="margin-top: 50px;")
				div(class="container")
					div(class="row")
						div(class="col-md-6")
							dl
								dt Source
								dd
									a(href="https://github.com/janoside/btc-rpc-explorer") github.com/janoside/btc-rpc-explorer

								dt Running Version
								dd
									a(href=("https://github.com/janoside/btc-rpc-explorer/commit/" + sourcecodeVersion)) #{sourcecodeVersion}
									span(style="color: #ccc;")  (#{sourcecodeDate})

								if (env.demoSite)
									dt Public Demos
									dd
										if (coinConfig.demoSiteUrl)
											a(href=coinConfig.demoSiteUrl) #{coinConfig.demoSiteUrl}
										else
											a(href="https://btc-explorer.chaintools.io") https://btc-explorer.chaintools.io
										
										div(class="mt-2")
											- var demoSiteCoins = ["BTC", "LTC"];
											each demoSiteCoin in demoSiteCoins
												a(href=coinConfigs[demoSiteCoin].demoSiteUrl, class="mr-2")
													img(src=("/img/logo/" + demoSiteCoin.toLowerCase() + ".svg"))

											a(href="https://lightning.chaintools.io", class="mr-2")
												img(src=("/img/logo/lightning.svg"), style="width: 32px; height: 32px;")

						div(class="col-md-6 text-md-right")
							dl
								dt Support Development of #{coinConfig.siteTitle}
								dd
									div
										each coin, index in env.donationAddresses.coins
											div(style="display: inline-block;", class="text-center mb-3", class=(index > 0 ? "ml-md-3" : false))
												img(src=donationAddressQrCodeUrls[coin], alt=env.donationAddresses[coin].address, style="border: solid 1px #ccc;")
												br
												if (env.donationAddresses[coin].urlPrefix)
													span #{coin}: 
													a(href=(env.donationAddresses[coin].urlPrefix + env.donationAddresses[coin].address)) #{env.donationAddresses[coin].address.substring(0, 10)}...
												else
													span #{coin}
		
		script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js", integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ", crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js", integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm", crossorigin="anonymous")
		script(defer, src="https://use.fontawesome.com/releases/v5.0.10/js/all.js", integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+", crossorigin="anonymous")

		script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
		
		script.
			$(document).ready(function() {
				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover({html:true});
			});

			hljs.initHighlightingOnLoad();

		if (env.sentryUrl && env.sentryUrl.length > 0)
			script(src="https://cdn.ravenjs.com/3.25.2/raven.min.js", crossorigin="anonymous")
			script.
				Raven.config("#{env.sentryUrl}").install();

		if (env.googleAnalyticsTrackingId && env.googleAnalyticsTrackingId.length > 0)
			script(async, src=("https://www.googletagmanager.com/gtag/js?id=#{env.googleAnalyticsTrackingId}"))
			script.
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', '#{env.googleAnalyticsTrackingId}');

		
		block endOfBody
