doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="csrf-token", content=csrfToken)
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no")
		
		if (session.uiTheme && session.uiTheme == "dark")
			link(rel="stylesheet", href="/css/bootstrap-dark.css")

			style.
				hr { background-color: #555555; }
		else
			link(rel="stylesheet", href="/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO")
		
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Ubuntu:400,700")
		link(rel="stylesheet", href="/css/highlight.min.css")
		link(rel="stylesheet", href="/css/radial-progress.css", type="text/css")
		link(rel='stylesheet', href='/css/styling.css')

		link(rel="icon", type="image/png", href=("/img/logo/" + config.coin.toLowerCase() + ".png"))

		block headContent
			title Explorer
		
	body
		nav(class="navbar navbar-expand-lg navbar-dark bg-dark mb-4")
			div(class="container")
				a(class="navbar-brand", href="/")
					span
						if (coinConfig.logoUrl)
							img(src=coinConfig.logoUrl, class="header-image", alt="logo")
						span #{coinConfig.siteTitle}
						
				button(type="button", class="navbar-toggler navbar-toggler-right", data-toggle="collapse", data-target="#navbarNav", aria-label="collapse navigation")
					span(class="navbar-toggler-icon")
					
				div(class="collapse navbar-collapse", id="navbarNav")
					if (client)
						ul(class="navbar-nav mr-auto")
							li(class="nav-item")
								a(href="/about", class="nav-link")
									span About

							if (config.siteTools)
								li(class="nav-item dropdown")
									a(class="nav-link dropdown-toggle", href="javascript:void(0)", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
										span  Tools
									div(class="dropdown-menu", aria-label="Tools Items")
										each item in config.siteTools
											a(class="dropdown-item", href=item.url)
												i(class=item.fontawesome, style="width: 20px; margin-right: 10px;")
												span  #{item.name}

							if (config.headerDropdownLinks)
								li(class="nav-item dropdown")
									a(class="nav-link dropdown-toggle", href="javascript:void(0)", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
										span  #{config.headerDropdownLinks.title}
									div(class="dropdown-menu", aria-label=(config.headerDropdownLinks.title + " Items"))
										each item in config.headerDropdownLinks.links
											a(class="dropdown-item", href=item.url)
												img(src=item.imgUrl, style="width: 24px; height: 24px; margin-right: 8px;", alt=item.name)
												span  #{item.name}

							li(class="nav-item dropdown")
								a(class="nav-link dropdown-toggle", href="javascript:void(0)", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
									i(class="fas fa-cog")
									span  Settings
								div(class="dropdown-menu", aria-labelledby="navbarDropdown")
									if (coinConfig.currencyUnits)
										span(class="dropdown-header") Currency Units
										each item in coinConfig.currencyUnits
											if (item.type == "native" || !process.env.BTCEXP_NO_RATES)
												a(class="dropdown-item", href=("/changeSetting?name=currencyFormatType&value=" + item.values[0]))
													each valueName in item.values
														if (currencyFormatType == valueName)
															i(class="fas fa-check")
													span  #{item.name}

									span(class="dropdown-header") Theme
									a(class="dropdown-item", href="/changeSetting?name=uiTheme&value=light")
										if (session.uiTheme == "light" || session.uiTheme == "")
											i(class="fas fa-check")
										span  Light
									a(class="dropdown-item", href="/changeSetting?name=uiTheme&value=dark")
										if (session.uiTheme == "dark")
											i(class="fas fa-check")
										span  Dark

						form(method="post", action="/search", class="form-inline")
							input(type="hidden", name="_csrf", value=csrfToken)
							div(class="input-group input-group-sm")
								input(type="text", class="form-control form-control-sm", name="query", placeholder="block height/hash, txid, address", value=(query), style="width: 300px;")
								div(class="input-group-append")
									button(type="submit", class="btn btn-primary")
										i(class="fas fa-search")
		
		if (host && port && !homepage)
			div(id="sub-menu", class="container mb-4 d-lg-block d-none", style="margin-top: -1.0rem;")
				ul(class="nav")
					each item, index in config.siteTools
						li(class="nav-item")
							a(href=item.url, class="nav-link")
								span #{item.name}
					

				hr
				
		div(class="container")
			if (userMessage)
				div(class="alert", class=(userMessageType ? ("alert-"  + userMessageType) : "alert-warning"), role="alert")
					span !{userMessage}
			
			block content

			div(style="margin-bottom: 30px;")

			footer(class="footer bg-dark text-light pt-3 pb-1 px-3", style="margin-top: 50px;")
				div(class="container")
					div(class="row")
						div(class="col-md-5")
							dl
								dt Source
								dd
									a(href="https://github.com/janoside/btc-rpc-explorer") github.com/janoside/btc-rpc-explorer

								if (sourcecodeVersion)
									dt Running Version
									dd
										a(href=("https://github.com/janoside/btc-rpc-explorer/commit/" + sourcecodeVersion)) #{sourcecodeVersion}
										span(style="color: #ccc;")  (#{sourcecodeDate})

								if (config.demoSite)
									dt Public Demos
									dd
										if (coinConfig.demoSiteUrl)
											a(href=coinConfig.demoSiteUrl) #{coinConfig.demoSiteUrl}
										else
											a(href="https://btc-explorer.chaintools.io") https://btc-explorer.chaintools.io
										
										div(class="mt-2")
											- var demoSiteCoins = ["BTC", "LTC"];
											each demoSiteCoin in demoSiteCoins
												a(href=coinConfigs[demoSiteCoin].demoSiteUrl, class="mr-2", title=coinConfigs[demoSiteCoin].siteTitle)
													img(src=("/img/logo/" + demoSiteCoin.toLowerCase() + ".svg"), alt=demoSiteCoin.toLowerCase())

											a(href="https://lightning.chaintools.io", class="mr-2", title="Lightning Explorer")
												img(src=("/img/logo/lightning.svg"), style="width: 32px; height: 32px;", alt="lightning")

						div(class="col-md-7 text-md-right")
							dl
								dt Support Development of #{coinConfig.siteTitle}
								dd
									div(class="text-md-right text-center")
										each coin, index in config.donationAddresses.coins
											div(style="display: inline-block; max-width: 150px;", class="text-center mb-3 word-wrap monospace", class=(index > 0 ? "ml-md-3" : false))
												img(src=donationAddressQrCodeUrls[coin], alt=config.donationAddresses[coin].address, style="border: solid 1px #ccc;")
												br
												if (coinConfig.ticker == coin)
													span #{coin}: 
													a(href=("/address/" + config.donationAddresses[coin].address)) #{config.donationAddresses[coin].address}
												else
													span #{coin}: 
													a(href=(config.donationAddresses.sites[coin] + "/address/" + config.donationAddresses[coin].address)) #{config.donationAddresses[coin].address}
		
		script(src="/js/jquery.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=")
		script(src="/js/popper.min.js", integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut")
		script(src="/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy")
		script(defer, src="/js/fontawesome.min.js", integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7")

		script(src="/js/highlight.min.js")
		
		script.
			$(document).ready(function() {
				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover({html:true, container:"body"});
			});

			hljs.initHighlightingOnLoad();

		if (config.credentials.sentryUrl && config.credentials.sentryUrl.length > 0)
			script(src="https://browser.sentry-cdn.com/4.0.4/bundle.min.js", crossorigin="anonymous")
			script.
				Sentry.init({ dsn: '#{config.credentials.sentryUrl}' });

		if (config.credentials.googleAnalyticsTrackingId && config.credentials.googleAnalyticsTrackingId.trim().length > 0)
			script(async, src=("https://www.googletagmanager.com/gtag/js?id=" + config.credentials.googleAnalyticsTrackingId))
			script.
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', '#{config.credentials.googleAnalyticsTrackingId}');

		
		block endOfBody
