extends layout

block headContent
	title Mempool Summary

block content
	+pageTitle("Mempool Summary")

	
	+dismissableInfoAlert("mempoolSummaryNoteDismissed", "About Mempool Summary...")
		.mb-2 This tool summarizes data about the transactions in your node's <b>mempool</b> - the set of transactions that your node has received from the network but are not yet confirmed in a block.
		.mb-0 The fee-rate summary data can be helpful for deciding what fee is necessary to get a transaction included in a future block, depending on its priority.


	div#progress-wrapper.mb-huge
		.card.shadow-sm.mb-3
			.card-body
				.d-flex.align-items-center
					.spinner-border.spinner-border-sm.text-primary.me-2.ms-2
					span.fw-bold.me-2 Status:
					span.fw-light(id="progress-text") Loading...
				
				div.progress.mt-2(id="progress-bar", style="height: 7px;")
					div.progress-bar(id="data-progress", role="progressbar", aria-valuenow="0", aria-valuemin="0" ,aria-valuemax="100")

				div.loading-error
	

	div(id="main-content", style="display: none;")
		+pageTabs(["Details", "JSON"])


		.tab-content
			+pageTab("Details", true)
				+contentSection("Summary")
					+summaryRow(5)
						+summaryItem("Transactions")
							span#tx-count

						+summaryItem("Blocks", "The number of blocks filled by all current mempool transactions.")
							span#block-count

						+summaryItem("Total Fees")
							span#total-fees

						+summaryItem("Avg Fee")
							span#avg-fee

						+summaryItem("Avg Fee Rate", null, "sat/vB")
							span#avg-fee-rate

				+contentSection("Estimate Block Depth")
					p If you already have a transaction in the mempool, you can enter its <b>TXID</b> to get an estimate for when it will be included in a block. Or, if you're planning to send a transaction, you can estimate confirmation time for different fee rates.

					.clearfix
						.float-start
							.me-4.d-inline-block.mb-3
								h6 Fee Rate
									small.fw-light.ms-1 (sat/vB)

								- var feeRatesToEstimate = [1, 5, 15, 25, 50, 75, 100, 150];

								div.btn-group
									each feeRateToEstimate in feeRatesToEstimate
										a.btn.btn-outline-primary.fee-rate-btn(href="javascript:void(0)", onclick=`estimateMempoolDepth(parseInt($(this).attr("data-fee-rate"))); return false;`, data-fee-rate=feeRateToEstimate) #{feeRateToEstimate}

							.me-4.d-inline-block.mb-3
								h6 Transaction ID

								form.form-inline(method="post", action="javascript:void(0)", onsubmit=`estimateTransactionMempoolDepth($("#mempoolquery").val()); return false;` style="width: 325px;")
									.input-group.input-group
										input.form-control.form-control(id="mempoolquery", type="text", name="mempoolquery", placeholder="txid", value=(mempoolquery))
										
										button.btn.btn-primary(type="submit")
											i.fas.fa-search

							.me-4.d-inline-block.mb-3
								h6 Custom Fee Rate
									small.fw-light.ms-1 (sat/vB)

								form.form-inline(method="post", action="javascript:void(0)", onsubmit=`estimateMempoolDepth($("#customFeeRate").val()); return false;` style="width: 200px;")
									.input-group.input-group
										input.form-control.form-control(id="customFeeRate", type="text", name="customFeeRate", placeholder="sat/vB", value=(customFeeRate))
										
										button.btn.btn-primary(type="submit")
											i.fas.fa-search

					hr.mt-1.mb-3

					+summaryRow(3)
						+summaryItem("Fee Rate", null, "sat/vB")
							span#estimate-fee-rate -

						+summaryItem("Est. Block Depth")
							span#estimate-mempooldepth -

						+summaryItem("Est. Confirmation Time")
							span#estimate-conf-time -



				div#detail-charts-and-data
					+contentSection("Fee Rate Distribution")
						canvas.mb-3(id="mempoolBarChart", height="100")

						hr.mt-3

						.table-responsive
							table.table.table-striped.table-borderless.mb-3
								thead
									tr
										th Fee Rate
										th.text-end N(tx)
										th.text-end
											span.border-dotted(title="The number of blocks worth of transactions that transactions in this fee-rate bucket comprise.", data-bs-toggle="tooltip") N(blocks)

										th.text-end
											span.border-dotted(title="The running total of the number of blocks needed to confirm this and higher fee-rate buckets.", data-bs-toggle="tooltip") Σ N(blocks)
										th.text-end Total Fees
										th.text-end Avg Fee
										th.text-end Avg Fee Rate
											small.fw-normal.text-muted.ms-2 (sat/vB)
								tbody(id="fee-rate-table-body")
									tr(id="fee-rate-table-row-prototype", style="display: none;")
										td.font-monospace.data-label
										td.font-monospace.text-end.data-count
										td.font-monospace.text-end.data-block-count
										td.font-monospace.text-end.data-sum-block-count
										td.font-monospace.text-end.data-total-fees
										td.font-monospace.text-end.data-avg-fee
										td.font-monospace.text-end.data-fee-rate

									tr(id="empty-row-to-fix-striped-coloring", style="display: none;")

					

					+contentSection("Size Distribution")
						canvas.mb-3(id="txSizesBarChart", height="100")

					

					+contentSection("Age Distribution")
						canvas.mb-3(id="txAgesBarChart", height="100")


			+pageTab("JSON")

				pre
					code.json#json-content
		

block endOfBody

	+graphPageScriptSetup
	
	script(src='./js/decimal.js')

	script.
		var satoshiPerByteBucketMaxima = !{JSON.stringify(satoshiPerByteBucketMaxima)};
		var summary = null;
		var statusId = Math.random().toString(36).substr(2, 5);
		var statusInterval;

		$(document).ready(function() {
			statusInterval = setInterval(function() { updateStatus(); }, 1000);

			loadMempool();
		});

		function updateStatus() {
			console.log("updateStatus");

			$.ajax({
				url: `./api/mempool-summary-status?statusId=${statusId}`

			}).done((res) => {
				if (!res.count) {
					// not started yet
					return;
				}

				var wPercent = `${parseInt(100 * res.done / parseFloat(res.count))}%`;

				$("#data-progress").css("width", wPercent);
				$("#progress-text").text(`${res.done.toLocaleString()} of ${res.count.toLocaleString()} (${wPercent})`);

				if (res.done == res.count) {
					clearInterval(statusInterval);

					$.ajax({
						url: `./api/get-mempool-summary?statusId=${statusId}`

					}).done((summaryResult) => {
						summary = summaryResult;

						$("#json-content").text(JSON.stringify(summary, null, 4));

						hljs.highlightAll();

						displaySummaryData(summary);

					}).always(() => {
						// nothing
					});
				}
			}).fail((a, b, c) => {
			}).always(() => {
			});
		}

		function loadMempool() {
			$.ajax({
				url: `./api/build-mempool-summary?statusId=${statusId}`

			}).done((buildResult) => {
				// we update status elsewhere, this call just kicks off the build

			}).fail((jqXHR, textStatus, errorThrown) => {
				$(".loading-error").html(`<h6 class='mt-4 text-danger'>Failed loading mempool:</h6><pre><code class='json'>${JSON.stringify(textStatus)}</code></pre><pre><code class='json'>${JSON.stringify(errorThrown)}</code></pre>`);

				hljs.highlightAll();

			}).always(() => {
			});
		}

		function displaySummaryData(summary) {
			var feeRateGraphData = buildFeeRateGraphData(summary);
			var txSizeGraphData = buildTxSizeGraphData(summary);
			var txAgeGraphData = buildTxAgeGraphData(summary);

			//console.log(JSON.stringify(summary));

			$("#tx-count").text(summary.count.toLocaleString());
			$("#block-count").text(new Decimal(summary.totalWeight).dividedBy(4000000).toDP(1)); // TODO: magic number: block weight
			$("#total-fees").text(summary.totalFees);
			
			if (summary.count == 0) {
				$("#avg-fee").text("-");
				$("#avg-fee-rate").text("-");

				$("#detail-charts-and-data").hide();

				$("#main-content").show();
				$("#progress-wrapper").hide();

				return;
			}
			
			$("#avg-fee").text(summary.averageFee);
			$("#avg-fee-rate").text(summary.averageFeePerByte);

			$.ajax({
				url: `./api/utils/formatLargeNumber/${summary.totalBytes},1`

			}).done(function(result) {
				$("#mem-usage").html(`<span>${result[0]} <small>${result[1].abbreviation}B</small></span>`);
			});

			updateCurrencyValue($("#total-fees"), summary.totalFees);
			updateCurrencyValue($("#avg-fee"), summary.averageFee);

			updateFeeRateValue($("#avg-fee-rate"), summary.averageFeePerByte, 2, false);


			//$("#summary-json").text(JSON.stringify(summary, null, 4));


			// fee rate chart
			var ctx1 = document.getElementById("mempoolBarChart").getContext('2d');
			var mempoolBarChart = new Chart(ctx1, {
				type: 'bar',
				data: {
					labels: feeRateGraphData.feeBucketLabels,
					datasets: [{
						data: feeRateGraphData.feeBucketTxCounts,
						backgroundColor: feeRateGraphData.bgColors
					}]
				},
				options: {
					legend: {
						display: false
					},
					scales: {
						xAxes: [{
							gridLines: {
								color: gridLineColor
							}
						}],
						yAxes: [{
							ticks: {
								beginAtZero:true
							},
							gridLines: {
								color: gridLineColor
							}
						}]
					}
				}
			});

			// tx size chart
			var ctx2 = document.getElementById("txSizesBarChart").getContext('2d');
			var txSizesBarChart = new Chart(ctx2, {
				type: 'bar',
				data: {
					labels: txSizeGraphData.sizeBucketLabels,
					datasets: [{
						data: txSizeGraphData.sizeBucketTxCounts,
						backgroundColor: txSizeGraphData.bgColors
					}]
				},
				options: {
					legend: {
						display: false
					},
					scales: {
						xAxes: [{
							gridLines: {
								color: gridLineColor
							}
						}],
						yAxes: [{
							ticks: {
								beginAtZero:true
							},
							gridLines: {
								color: gridLineColor
							}
						}]
					}
				}
			});

			// tx age chart
			var ctx3 = document.getElementById("txAgesBarChart").getContext('2d');
			var txSizesBarChart = new Chart(ctx3, {
				type: 'bar',
				data: {
					labels: txAgeGraphData.ageBucketLabels,
					datasets: [{
						data: txAgeGraphData.ageBucketTxCounts,
						backgroundColor: txAgeGraphData.bgColors
					}]
				},
				options: {
					legend: {
						display: false
					},
					scales: {
						xAxes: [{
							gridLines: {
								color: gridLineColor
							}
						}],
						yAxes: [{
							ticks: {
								beginAtZero:true
							},
							gridLines: {
								color: gridLineColor
							}
						}]
					}
				}
			});


			// fee rate table
			var sumBlockCount = new Decimal(0);

			for (var i = (summary.satoshiPerByteBuckets.length - 1); i >= 0; i--) {
				var item = summary.satoshiPerByteBuckets[i];

				var row = $("#fee-rate-table-row-prototype").clone();
				row.attr("id", null);
				row.addClass("fee-rate-table-row");

				var blockCount = new Decimal(item.totalWeight).dividedBy(4000000); // TODO: magic number: block weight
				var sumBlockCount = sumBlockCount.plus(blockCount);

				row.find(".data-label").text(summary.satoshiPerByteBucketLabels[i]);
				row.find(".data-count").text(item.count.toLocaleString());
				row.find(".data-block-count").text(blockCount.toDP(2));
				row.find(".data-sum-block-count").text(sumBlockCount.toDP(2));
				row.find(".data-total-fees").text(item.count > 0 ? item.totalFees : "-");
				row.find(".data-avg-fee").text(item.count > 0 ? item.totalFees / item.count : "-");
				row.find(".data-fee-rate").text("-");

				if (item.count > 0) {
					updateCurrencyValue(row.find(".data-total-fees"), item.totalFees);
					updateCurrencyValue(row.find(".data-avg-fee"), item.totalFees / item.count);

					updateFeeRateValue(row.find(".data-fee-rate"), item.totalFees / item.totalBytes, 2, false);
				}

				row.show();

				$("#fee-rate-table-body").append(row);
			}
			

			$("#main-content").show();
			$("#progress-wrapper").hide();
		}

		function buildFeeRateGraphData(summary) {
			var feeBucketLabels = [("[0 - " + summary["satoshiPerByteBucketMaxima"][0] + ")")];
			
			for (var i = 0; i < summary["satoshiPerByteBuckets"].length; i++) {
				var item = summary["satoshiPerByteBuckets"][i];
				if (i > 0 && i < summary["satoshiPerByteBuckets"].length - 1) {
					feeBucketLabels.push(("[" + summary["satoshiPerByteBucketMaxima"][i - 1] + " - " + summary["satoshiPerByteBucketMaxima"][i] + ")"));
				}
			}

			feeBucketLabels.push((summary.satoshiPerByteBucketMaxima[summary.satoshiPerByteBucketMaxima.length - 1] + "+"));
				
			var feeBucketTxCounts = summary["satoshiPerByteBucketCounts"];
			var totalfeeBuckets = summary["satoshiPerByteBucketTotalFees"];

			var graphData = {feeBucketLabels:[], bgColors:[], feeBucketTxCounts:feeBucketTxCounts};

			for (var i = 0; i < feeBucketLabels.length; i++) {
				var feeBucketLabel = feeBucketLabels[i];
				var percentTx = Math.round(100 * feeBucketTxCounts[i] / summary.count).toLocaleString();
				
				graphData.feeBucketLabels.push([feeBucketLabel, `${feeBucketTxCounts[i]} tx (${percentTx}%)`]);
				graphData.bgColors.push(`hsl(${(333 * i / feeBucketLabels.length)}, 100%, 50%)`);
			}

			return graphData;
		}

		function buildTxSizeGraphData(summary) {
			var sizeBucketLabels = [];
			var bgColors = [];

			for (var i = 0; i < summary.sizeBucketLabels.length; i++) {
				var sizeBucketLabel = summary.sizeBucketLabels[i];
				var percentTx = Math.round(100 * summary.sizeBucketTxCounts[i] / summary.count).toLocaleString();

				sizeBucketLabels.push([`${sizeBucketLabel} bytes`, `${summary.sizeBucketTxCounts[i]} tx (${percentTx}%)`]);
				bgColors.push(`hsl(${(333 * i / summary.sizeBucketLabels.length)}, 100%, 50%)`);
			}

			return {
				sizeBucketLabels: sizeBucketLabels,
				bgColors: bgColors,
				sizeBucketTxCounts: summary.sizeBucketTxCounts
			};
		}

		function buildTxAgeGraphData(summary) {
			var ageBucketLabels = [];
			var bgColors = [];

			for (var i = 0; i < summary.ageBucketLabels.length; i++) {
				var ageBucketLabel = summary.ageBucketLabels[i];
				var percentTx = Math.round(100 * summary.ageBucketTxCounts[i] / summary.count).toLocaleString();

				ageBucketLabels.push([`${ageBucketLabel}`, `${summary.ageBucketTxCounts[i]} tx (${percentTx}%)`]);
				bgColors.push(`hsl(${(333 * i / summary.ageBucketLabels.length)}, 100%, 50%)`);
			}

			return {
				ageBucketLabels: ageBucketLabels,
				bgColors: bgColors,
				ageBucketTxCounts: summary.ageBucketTxCounts
			};
		}

		function estimateTransactionMempoolDepth(txid) {
			var avgTransactionsPerBlock = 3000;
			var satsPerBitcoin = 100000000; // TODO: magic number - replace with coinConfig.baseCurrencyUnit.multiplier
			
			$.ajax({
				url: `./api/mempool-tx-summaries/${txid}`

			}).done(function(resultList) {

				var result = resultList[0];

				var feeRate = new Decimal(result.f).times(100000000).dividedBy(result.sz); // TODO: magic number, sat/BTC

				estimateMempoolDepth(feeRate);
			});
		}

		function estimateMempoolDepth(feeRate) {
			feeRate = new Decimal(feeRate);
			
			if (feeRate > 1000) {
				$("#estimate-fee-rate").text(parseInt(feeRate).toLocaleString());

			} else {
				$("#estimate-fee-rate").text(new Decimal(feeRate).toDP(1));
			}

			var sumBlockCount = new Decimal(0);

			for (var i = (summary.satoshiPerByteBuckets.length - 1); i >= 0; i--) {
				var item = summary.satoshiPerByteBuckets[i];

				var blockCount = new Decimal(item.totalWeight).dividedBy(4000000); // TODO: magic number: block weight

				if (feeRate >= (item.minFeeRate || 1) && feeRate < (item.maxFeeRate || 10000000)) {
					// in this bucket
					var minBlocks = sumBlockCount;
					var maxBlocks = sumBlockCount.plus(blockCount);

					if (minBlocks < 1) {
						minBlocks = new Decimal(1);
					}

					if (maxBlocks < 1) {
						maxBlocks = new Decimal(1);
					}

					if (`${minBlocks.toDP(1)}` == `${maxBlocks.toDP(1)}`) {
						$("#estimate-mempooldepth").text(`~${minBlocks.toDP(1)}`);

					} else {
						$("#estimate-mempooldepth").text(`${minBlocks.toDP(1)} - ${maxBlocks.toDP(1)}`);
					}
					
					var minMinutes = minBlocks.times(10); // TODO: magic number: 10min
					var maxMinutes = maxBlocks.times(10); // TODO: magic number: 10 min

					if (maxMinutes < 60) {
						if (`${minMinutes.toDP(1)}` == `${maxMinutes.toDP(1)}`) {
							$("#estimate-conf-time").text(`~${minMinutes.toDP(0)} min`);

						} else {
							$("#estimate-conf-time").text(`${minMinutes.toDP(0)} - ${maxMinutes.toDP(0)} min`);
						}
					} else if (maxMinutes < 60 * 24) {
						$("#estimate-conf-time").text(`${minMinutes.dividedBy(60).toDP(1)} - ${maxMinutes.dividedBy(60).toDP(1)} hr`);

					} else if (minMinutes < 60 * 24) {
						$("#estimate-conf-time").text(`${minMinutes.dividedBy(60).toDP(1)} hr - ${maxMinutes.dividedBy(60 * 24).toDP(1)} day`);

					} else {
						$("#estimate-conf-time").text(`${minMinutes.dividedBy(60 * 24).toDP(1)} - ${maxMinutes.dividedBy(60 * 24).toDP(1)} day`);
					}
				}

				sumBlockCount = sumBlockCount.plus(blockCount);
			}
		}
