extends layout

block headContent
	title Mempool Info
	
block content
	ol(class="breadcrumb")
		li(class="breadcrumb-item")
			a(href="/")
				strong #{host}
				span :#{port}
		li(class="breadcrumb-item active")
			a(href="/mempool-info") Mempool Info

	h1 Mempool Info
	hr

	table(class="table")
		tr
			th(class="table-active properties-header") Transaction Count
			td #{getmempoolinfo.size.toLocaleString()}
		tr
			- var scales = [ {val:1000000000, name:"GB"}, {val:1000000, name:"MB"}, {val:1000, name:"kB"} ];
			- var scaleDone = false;
			th(class="table-active properties-header") Size
			td
				span #{getmempoolinfo.bytes.toLocaleString()} bytes
				each item in scales
					if (!scaleDone)
						- var fraction = Math.floor(getmempoolinfo.bytes / item.val);
						if (fraction >= 1)
							- scaleDone = true;
							span(class="text-muted")  (#{fraction} #{item.name})
		tr
			- var scales = [ {val:1000000000, name:"GB"}, {val:1000000, name:"MB"}, {val:1000, name:"kB"} ];
			- var scaleDone = false;
			th(class="table-active properties-header") Size
			td
				span #{getmempoolinfo.usage.toLocaleString()} bytes
				each item in scales
					if (!scaleDone)
						- var fraction = Math.floor(getmempoolinfo.usage / item.val);
						if (fraction >= 1)
							- scaleDone = true;
							span(class="text-muted")  (#{fraction} #{item.name})
		tr
			th(class="table-active properties-header") Max Size
			td #{getmempoolinfo.maxmempool.toLocaleString()}
		tr
			th(class="table-active properties-header") Min Fee
			td #{getmempoolinfo.mempoolminfee.toLocaleString()}
		tr
			th(class="table-active properties-header") Total Fees
			td #{mempoolstats.totalFee.toLocaleString()}


	h4 Transaction count by fee level
	hr

	if (false)
		#{JSON.stringify(mempoolstats)}

	table(class="table")
		tr
			th(class="table-active properties-header") 0 - 5 sat/B
			td #{mempoolstats.fee_0_5.toLocaleString()}
		tr
			th(class="table-active properties-header") 6 - 10 sat/B
			td #{mempoolstats.fee_6_10.toLocaleString()}
		tr
			th(class="table-active properties-header") 11 - 25 sat/B
			td #{mempoolstats.fee_11_25.toLocaleString()}
		tr
			th(class="table-active properties-header") 26 - 50 sat/B
			td #{mempoolstats.fee_26_50.toLocaleString()}
		tr
			th(class="table-active properties-header") 51 - 75 sat/B
			td #{mempoolstats.fee_51_75.toLocaleString()}
		tr
			th(class="table-active properties-header") 76 - 100 sat/B
			td #{mempoolstats.fee_76_100.toLocaleString()}
		tr
			th(class="table-active properties-header") 101 - 150 sat/B
			td #{mempoolstats.fee_101_150.toLocaleString()}
		tr
			th(class="table-active properties-header") 151+ sat/B
			td #{mempoolstats.fee_151_max.toLocaleString()}