extends layout

block headContent
	title Node Info
	
block content
	ol(class="breadcrumb")
		li(class="breadcrumb-item")
			a(href="/")
				strong #{host}
				span :#{port}
		li(class="breadcrumb-item active")
			a(href="/node-info") Node Info

	h1 Node Info
	hr

	p Data from RPC command 
		a(href="https://bitcoin.org/en/developer-reference#getinfo") getinfo

	if (false)
		pre
			code #{JSON.stringify(getinfo, null, 4)}

	if (true)
		table(class="table")
			tr
				th(class="table-active properties-header") Version
				td(class="monospace") #{getinfo.version}
			tr
				th(class="table-active properties-header") Protocol Version
				td(class="monospace") #{getinfo.protocolversion}
			tr
				th(class="table-active properties-header") Connections
				td(class="monospace") #{getinfo.connections.toLocaleString()}
			tr
				th(class="table-active properties-header") Block Count
				td(class="monospace") #{getinfo.blocks.toLocaleString()}
			tr
				th(class="table-active properties-header") Testnet?
				td(class="monospace") #{getinfo.testnet}
			tr
				th(class="table-active properties-header") Errors
				td(class="monospace") #{getinfo.errors}
			tr
				- var scales = [ {val:1000000000000000, name:"quadrillion"}, {val:1000000000000, name:"trillion"}, {val:1000000000, name:"billion"}, {val:1000000, name:"million"} ];
				- var scaleDone = false;
				th(class="table-active properties-header") Difficulty
				td(class="monospace")
					span #{getinfo.difficulty.toLocaleString()}
					each item in scales
						if (!scaleDone)
							- var fraction = Math.floor(getinfo.difficulty / item.val);
							if (fraction >= 1)
								- scaleDone = true;
								span(class="text-muted")  (#{fraction} #{item.name})